html {
  height: 100%;

  --icon-size: 2.25rem;
}

body {
  height: 100%;
  margin: 0;
}

main {
  align-items: center;
  flex-direction: column;
  display: flex;
  height: 100%;
  justify-content: center;
}

.name {
  font-family: monospace;
  font-size: 2.426875rem;
  margin-bottom: 0;
}

.job {
  color: gold;
  font-family: monospace;
  font-size: 1.375rem;
  margin-top: 0.5rem;
}

.icons {
  display: flex;
  justify-content: space-between;
  margin-top: 0.75rem;
  width: calc(var(--icon-size) * 4 + (0.75rem * 4));
}

.icon {
  fill: #495057;
  height: var(--icon-size);
  width: var(--icon-size);
}

footer {
  bottom: 0;
  font-family: monospace;
  position: absolute;
  text-align: center;
  width: 100%;
}
