html {
  height: 100%;

  --icon-size: 2.25rem;
}

body {
  height: 100%;
  margin: 0;
}

main {
  align-items: center;
  flex-direction: column;
  display: flex;
  height: 100%;
  justify-content: center;
}

.name {
  font-family: monospace;
  font-size: 2.426875rem;
  font-weight: bold;
  margin-bottom: 0;
}

.job {
  font-family: monospace;
  font-size: 1.375rem;
  margin-top: 0.5rem;
}

.icons {
  display: flex;
  margin-top: 0.75rem;
}

.icon {
  fill: #495057;
  height: var(--icon-size);
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  width: var(--icon-size);
}
